@charset "utf-8";

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoV';
    src: url('./fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SeoulAlrim';
    src: url('./fonts/SeoulAlrimTTF-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SeoulAlrim';
    src: url('./fonts/SeoulAlrimTTF-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SeoulAlrim';
    src: url('./fonts/SeoulAlrimTTF-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'SeoulHangang';
    src: url('./fonts/SeoulHangangL.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./fonts/SeoulHangangM.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./fonts/SeoulHangangB.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./fonts/SeoulHangangEB.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'SeoulNamSan';
    src: url('./fonts/SeoulNamsanB.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/*레이아웃, 색감, 폰트, 아이콘*/