@charset "utf-8";

#page2 {
    background-color: #fff;
    background-image: url();
    background-repeat: no-repeat;
    block-size: auto;
    background-position: left top, right bottom;
    height: 100vh;
}

.page_grid2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.row3 {
    display: flex;
    gap: 24px;
}

.movie_wrap .col {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.6s;
}

.movie_wrap .col:hover {
    background-size: auto 130%;
}

.movie_lst {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 50px;
}

.movie_lst .col {
    width: 400px;
    height: 222px;
}

#movie1 {
    background-image: url("output/movie1.png");
}



#movie2 { 
    background-image: url("./output/movie2.png");
}

#movie3 { 
    background-image: url("./output/movie3.png");
}

#movie4 { 
    background-image: url("./output/movie4.png");
}

#movie5 { 
    background-image: url("./output/movie5.png");
}

#movie6 { 
    background-image: url("./output/movie6.png");
}


/*.movie_lst .col a, #movie1 a {
    display:block;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
}

.movie_lst .col a:hover, #movie1 a:hover {
    background: none;
}*/




.row4 {
    clear: both;
    width: 100%;
    padding: 0 150px;
}

.box_tit {
    text-align: center;
    font-size: 36px;
    font-family: "SeoulHangang";
    font-weight: 500;
    padding-bottom: 15px;
}

.box_lst {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%; /* 전체 너비의 80%만 사용 */
    margin: 0 auto; /* 중앙 정렬 */
}

.box_lst .box_item a {
    display: block;
    width: 100px;
    height: 130px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.box_lst .box_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #effbad;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition: 1s;
}

.box_lst .box_item_tit {
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 30px;
    position:absolute;
    left: 0;
    bottom:0;
}

.box_lst .box_item_tit a:hover {
    text-decoration: underline;
}

#box_item1 .box_img {
    background-image: url("./output/item1.png");
}

#box_item1 a:hover .box_img {
    /*transform: rotate(360deg);*/
    transform: translateX(-110px);
}

#box_item2 .box_img {
    background-image: url("./output/item2.png");
}

#box_item2 a:hover .box_img {
    transform:rotateY(360deg);
    /*transform: translateX(110px);*/
}

#box_item3 .box_img {
    background-image: url("./output/item3.png");
}

#box_item3 a:hover .box_img {
    transform:rotateY(360deg);
}


#box_item4 .box_img {
    background-image: url("./output/item4.png");
}

#box_item4 a:hover .box_img {
    transform:rotateY(360deg);
} 

#box_item5 .box_img {
    background-image: url("./output/item5.png");
}

#box_item5 a:hover .box_img {
    transform: scale(1.1);
}

#box_item6 .box_img {
    background-image: url("./output/item6.png");
}

#box_item6 a:hover .box_img {
    transform: translateX(110px);
} 
#box_item7 .box_img {
    background-image: url("./output/item7.png");
}

#box_item7 a:hover .box_img {
    transform:rotateY(360deg);
} 
#box_item8 .box_img {
    background-image: url("./output/item8.png");
}

#box_item8 a:hover .box_img {
    transform: translateX(110px);
} 
#box_item9 .box_img {
    background-image: url("./output/item9.png");
}

#box_item9 a:hover .box_img {
    transform: translateX(110px);
} 
