@charset "utf-8";

.page {
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 0 16px; 
}

.page_title {
    text-align: center;
    font-family: 'SeoulAlrim';
    font-size: 78px;
    line-height: 95px;
    padding:0px 30px;
    font-weight:700;
    
}

.page_grid {
    clear: both;
    width: 100%;
}

#page1 {
    background-color: #f9fff2;
    background-image: url("./output/bgimage1.png");
    background-repeat: no-repeat;
    background-size: 1920px 800px ;

}

.row1, .row2 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 24px;
    justify-content: space-between;
}

.row1 figure, .row2 figure {
    filter: brightness(0.9);
    transition: 0.3s;
}

.row1 figure:hover, .row2 figure:hover {
    filter: brightness(1.1);
}

.big_thumb {
    
    position: relative;
    
}

.big_thumb img {
    
    overflow-x: hidden; 
    border-radius: 10%;
}

.big_thumb:hover img {
    filter: brightness(circle);
    transition: 1s;
}

.big_thumb.span {
    display: none;
}

/* a, em, span { 
    box-sizing: content-box;
} */


.big_thumb .thumb_content {
    position:absolute;
    width: 100%;
    top: 32px;
    z-index: 80;
    padding-top: 24px;
    
    
}

.tit1, .tit2, .tit3 {
    text-align: center;
    font-family: 'SeoulAlrim';
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 2px 0px #333;
    align-items: center;
    line-height: 1.4;
    
}

.tit1 {
    font-size:12px;
}

.tit2 {
    font-size: 30px;
    
}

.tit4 {
    text-align: center;
    font-size: 30px;
    font-family: 'SeoulAlrim';
    color: #727171;
    font-weight: 600;
    align-items: center;
    line-height: 1.5;
}


.s_thumb {
    position: relative;
}

.s_thumb img {
    border: 1px solid #f1f1f1;
}

.s_thumb:hover img {
    border: 1px solid #05AFF2;
}

.s_thumb .thumb_content {
    position:absolute;
    width: 100%;
    top: 32px;
    z-index: 80;
    padding-top: 24px;
}